.pageContainer {
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbarContainer {
  width: 100%;
  background-color: #333;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.homepageContainer {
  padding: 20px;
  flex: 1;
}

.mainContainer {
  display: flex;
}

.sidebar {
  width: 200px; /* Adjust width as needed */
  /* additional styles */
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* ProductCard.module.css */
.card {
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 15px;
}

.gameImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.edition {
  font-size: 0.9em;
  color: #bbb;
}

.price {
  font-weight: bold;
  color: #fff;
}
